<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
   					   http://www.springframework.org/schema/beans/spring-beans.xsd
      				   http://mybatis.org/schema/mybatis-spring 
      				   http://mybatis.org/schema/mybatis-spring.xsd">
	

	<!-- MariaDB JDBC DataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<property name="url" value="jdbc:mariadb://13.124.180.211:3306/diseaseControl" />
		<property name="username" value="komap" />
		<property name="password" value="1a1b1c1d" />
		<property name="validationQuery" value="select 1"/>
	</bean>
	

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
         <property name="dataSource" ref="dataSource" />
         <property name="mapperLocations">
            <list>
               <value>classpath:com/my/diseaseControl/map/*.xml</value>
            </list>
         </property> 
         
         <property name="configLocation" value="/WEB-INF/mybatis/mybatis-config.xml" />
         <property name="transactionFactory">
         <bean class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />
      <!-- <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" /> -->
         </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource" />
    </bean>
            
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
         <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
     
     
     <!-- Dao 추가 -->
	<bean id="PilotAccountDao" class="com.my.diseaseControl.dao.PilotAccountDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
     
	<bean id="AdminAccountDao" class="com.my.diseaseControl.dao.AdminAccountDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>   
    
	<bean id="ProjectDao" class="com.my.diseaseControl.dao.ProjectDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="IssueDao" class="com.my.diseaseControl.dao.IssueDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>   
    
	<bean id="AreaGeojsonDao" class="com.my.diseaseControl.dao.AreaGeojsonDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

	<bean id="ConfirmerDao" class="com.my.diseaseControl.dao.ConfirmerDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>   
    
	<bean id="GISDao" class="com.my.diseaseControl.dao.GISDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>     
    
   	<bean id="IconDao" class="com.my.diseaseControl.dao.IconDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
   	<bean id="WorkImageDataDao" class="com.my.diseaseControl.dao.WorkImageDataDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>    
    
   	<bean id="WorkTextDataDao" class="com.my.diseaseControl.dao.WorkTextDataDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
   	<bean id="LogDao" class="com.my.diseaseControl.dao.LogDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>     
    
   	<bean id="MessageDao" class="com.my.diseaseControl.dao.MessageDao"> <!-- 컨트롤러의 @Resource(name="UserDao") -->
       	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>    
    
</beans>